.file {
    display: grid;
    background-color: rgb(240, 240, 240);
    &__title {
        text-align: center;
        font-size: 50px;
        @include sm {
            font-size: 20px;
        }
    }
    .comp {
        @include xxl {
            display: grid;
        }
        display: flex;
        justify-content: center;
        gap: 50px;
        @include sm {
            gap: 30px;
            margin: 0;
            padding: 0;
        }
        &__item {
            &-image{ 
                width: 70px;
                height: 70px;
                opacity: 40%;
            }
            &-title {
                font-size: 30px;
                @include sm {
                    font-size: 20px;
                }
            }
            &-subtitle {
                font-size: 20px;
                @include sm {
                    font-size: 15px;
                }
            }
            background-color: rgb(209, 209, 209);
            border-radius: 20px;
            padding: 20px;
            width: 800px;
            @include lg {
                width: 600px;
            }
            @include sm {
                width: 300px;
                padding: 10px;
                margin: 0;
            }
            height: 300px;
            &:hover {
                background-color: rgb(167, 167, 167);
                transition: 0.1s ease-in-out;
                cursor: pointer;
            }
        }
    }
}