// header style
.header__container {
    background-color: rgb(238, 238, 238);
    .dd {
        display: none;
        @include sm {
            display: flex;
            justify-content: center;
            width: 420px;
            height: 50px;
        }
        
        
    }
    .dd__text {
        display: none;
        @include sm {
            text-align: center;
            display: block;
        }
    }
    .menu {
        @include sm {
            display: none;
        }
        @include lg {
            font-size: 15px;
        }
        text-align: center;
        justify-content: center;
        display: flex;
        padding-top: 20px;
        height: 90px;
        border-bottom: solid 2px rgb(132, 128, 128);
        &__icon {
            height: 45px;
            width: 45px;
            align-items: center;
        }
        &__navbar {
            gap: 30px;
            display: flex;
            .item {
                &__button {
                    &:hover {
                        color: grey;
                        transition: ease-in-out 0.1s;
                }
                }
            }
        }
    }
}

.mmenu {
    display: none;
    @include sm {
        display: none;
        justify-content: center;
        text-align: center;
        &__navbar {
            .item {
                height: 30px;
            }
        }
    }
}

.show {
    display: block;
}